.backToHome {
    background-color: #fff;
    display: inline-block ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 5.0rem;
}
.backToHome > svg {
    font-size: 2.5rem;
}