.genericInput {
    background-color: #f0f0f0 ;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding-inline: 1rem;
    flex-grow: 2;
    margin-right: 1.5rem;
}
    .genericInput__input {
        
    }
    .genericInput > svg {
        font-size: 3.0rem;
        color: #818181;
    }
    .genericInput__text {
        font-size: 1.8rem;
        color: #818181;
    }
.genericInput__box {
    background-color: #fff ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding-inline: 1rem;
    margin-right: 1.5rem;
    border: 1px solid #3a60ff;
    outline: none;
    width: 100%;
}
    .genericInput__input {
        background-color: #fff ;
        outline: none;
        border: 0;
        width: 120px;
    }
.genericInput__box > svg {
    color:#3a60ff;
    font-size: 3rem;
}