.totalBenefit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}
    .totalBenefit__text , .totalBenefit__price{
        font-weight: bold;
        margin-top: 2.2rem;
    }
    .totalBenefit__text--flex , .totalBenefit__price--flex {
        margin: 0;
    }