.marketFilters {
    display: flex;
    padding: 0;
    list-style: none;
    overflow-x: scroll;
    padding-left: 2rem;
    padding-block: 2rem 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    background-color: #fff;
    margin: 0;
}
.marketFilters::-webkit-scrollbar {
    height: 0;
}
.marketFilters::-webkit-scrollbar-track {
    background: transparent; 
}
.marketFilters::-webkit-scrollbar-thumb {
    border-radius: 20px;       
}
.marketFilterFixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    margin: 0;
    overflow-x: scroll;
    width: 100vw;
}