.options {
    display: flex;
    justify-content: space-around;
    box-shadow: 1px -.3px 10px rgba(0, 0, 0, 0.085);
    padding-top: 1.5rem;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 4rem);
    background-color: #fff;
    padding-inline: 2.0rem ;
}

@media (min-width:650px){
    .options {
        max-width: 650px;
        margin-inline: auto;
        padding-inline: 0;
    }
}